doctype html
html
    head
        title JOHN MURRAY & SONS
        link(rel="stylesheet" href='style/foundation.css')
        link(rel="stylesheet" href='style/style.css')
    body
       include parts/header.pug
       include parts/about_us/hero.pug
       include parts/footer.pug

        script(src='js/foundation.js')
        script(src='js/main.js')