doctype html
html
    head
        title JOHN MURRAY & SONS
        link(rel="stylesheet" href='style/foundation.css')
        link(rel="stylesheet" href='style/style.css')
    body
       include parts/index/header.pug
       include parts/index/hero.pug
       include parts/index/about.pug
       include parts/index/sectors.pug
       include parts/index/customers.pug
       include parts/index/updates.pug
       include parts/index/footer.pug

        script(src='js/foundation.js')
        script(src='js/main.js')
