.btn {
    height: 42px;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    &_title {
        font-family: 'SFUITextSemibold';
        font-size: 14px;
        color: white;
    }
    &_orange {
        background-color: #fc5830;
        margin-right: 12px;
    }
    &_white-transparent {
        border: 2px solid white;
        background: none;
    }
    &_green {
        height: 40px;
        width: 145px;
        background-color: #6dd155;
        margin: 35px 0 0 30px;
    }
    &_green-transparent {
        position: relative;
        height: 40px;
        width: 125px;
        border: 2px solid white;
        background: none;
        margin: 30px 0 0 25px;
    }
    &_white {
        display: flex;
        height: 42px;
        width: 145px;
        border: 2px solid #b6b6b6;
        background: none;
        &_title {
            font-family: 'SFUITextSemibold';
            font-size: 14px;
            color: black;
            padding: 0 17px 0 30px;
        }
        &_img {
            padding-top: 4px;
        }
    }
    &_proj {
        display: flex;
        background: none;
        border: none;
        margin: 30px 0 0 100px;
        &_title {
            padding-left: 7px;
        }
        &_img {
            padding: 4px 0 0 14px;
        }
    }
    &_proj-deta {
        position: relative;
        background: none;
        border: 2px solid white;
        height: 42px;
        width: 145px;
        margin: 35px 0 0 50px;
    }
}

