.footer {
    height: 550px;
    width: 100%;
    &_up {
        height: 465px;
        width: 100%;
        background-color: #263238;
        &_content {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            &_logo {
                height: 220px;
                width: 373.3px;
                margin-top: 60px;
                &_text {
                    font-family: 'SFUITextRegular';
                    font-size: 14px;
                    color: #b0bec5;
                    padding: 30px 0;
                    line-height: 26px;
                }
            }
            &_nav {
                height: 220px;
                width: 373.3px;
                border-left: 1px solid #38474f;
                border-right: 1px solid #38474f;
                margin-top: 60px;
            }
            &_contacts {
                height: 220px;
                width: 373.3px;
                margin-top: 60px;
                &_address {
                    height: 135px;
                    width: 100%;
                    border-left: 4px solid #6dd155;
                    background-color: #232e33;
                    &_text {
                        font-family: 'SFUITextBold';
                        font-size: 14px;
                        color: white;
                        padding: 20px 0 0 20px;
                        line-height: 30px;
                        width: 276px
                    }
                }
                &_phone {
                    height: 68px;
                    width: 100%;
                    border-left: 4px solid #6dd155;
                    background-color: #232e33;
                    margin-top: 17px;
                    &_text {
                        font-family: 'SFUITextMedium';
                        font-size: 12px;
                        color: #94a2a9;
                        text-transform: uppercase;
                        padding: 17px 0 0 20px;
                    }
                    &_number {
                        font-family: 'SFUITextBold';
                        font-size: 20px;
                        color: white;
                        padding: 5px 0 0 20px;
                    }
                }
            }
        }
    }
    &_down {
        height: 85px;
        width: 100%;
        background-color: #191d1f;
        &_content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_left {
                &_text {
                    font-family: 'SFUITextRegular';
                    font-size: 14px;
                    color: #b0bec5;
                }
            }
            &_right {
                &_content {
                    display: flex;
                    &_text {
                        font-family: 'SFUITextRegular';
                        font-size: 14px;
                        color: #b0bec5;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}
.sert_icon {
    padding-left: 25px;
    &:first-child {
        padding-left: 0;
    }
}