.header {
    height: 140px;
    width: 100%;
    &_contacts {
        height: 35px;
        width: 100%;
        background-color: black;
        &_content {
            display: flex; 
            align-items: center;
            justify-content: center;
            height: 100%;
            &_img {
                height: 12px;
                width: 8px;
                margin-bottom: 5px;
            }
            &_text {
                font-family: 'SFUITextMedium';
                font-size: 12px;
                color: white;
                padding: 0 7px;
            }
            &_link {
                font-family: 'SFUITextMedium';
                font-size: 12px;
                text-decoration: none;
                color: #6dd155;
            }
        }
    }
    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 105px;
        background-color: white;
        &_logo {
            display: flex;
            &_img {
                height: 60px;
                width: 50px;
                margin: 5px 15px 0 0;
            }
            &_title {
                display: flex;
                flex-direction: column;
                &_name {
                    font-family: 'SFUITextBold';
                    font-size: 24px;
                    color: #6dd155;
                    text-transform: uppercase;
                }
                &_text {
                    font-family: 'SFUITextMedium';
                    font-size: 12px;
                    color: #263238;
                    text-transform: uppercase;
                }
            }
        }
        &_right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &_phone {
                display: flex;
                justify-content: flex-end;
                height: 50%;
                align-items: center;
                &_img {
                    padding-bottom: 3px;
                }
                &_text {
                    font-family: 'SFUITextMedium';
                    font-size: 12px;
                    color: #263238;
                    text-transform: uppercase;
                    padding-left: 15px;
                }
            }
        }
    }
}
.container {
    max-width: 1120px;
    margin: auto;
}
.nav_list {
    list-style: none;
    display: flex;
    &_item {
        padding-bottom: 5px;
        &_link {
            text-decoration: none;
            font-family: 'SFUITextMedium';
            font-size: 12px;
            text-transform: uppercase;
            color: #191d1f;
            margin-left: 25px;
            height: 50px;
            &:focus {
                color: #6dd155;
                border-bottom: 5px solid #6dd155;
                border-top: 5px solid #fff;
            }
        }
    }
}