.hero {
    position: relative;
    display: flex;
    height: 600px;
    widows: 100%;
    &_slide-arrow-left {
        display: flex;
        align-items: center;
        width: 30px;
        height: 100%;
        &_content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 110px;
            width: 30px;
            background-color: #191d1f;
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &_slide-content {
        display: flex;
        justify-content: space-between;
        &_left {
            height: 260px;
            width: 570px;
            background-color: rgba($color: #191d1f, $alpha: 0.7);
            border-left: 4px solid #6dd155;
            z-index: 0;
            &_title {
                font-family: 'SFUITextBold';
                font-size: 44px;
                color: white;
                text-transform: uppercase;
                padding: 25px 25px 0 25px;
            }
            &_text {
                font-family: 'SFUITextRegular';
                font-size: 14px;
                color: white;
                line-height: 27px;
                padding: 25px 25px 0 25px;
            }
            &_buttons {
                width: 100%;
                height: 42px;
                margin: 25px 0 0 25px;
            }
        }
        &_right {
            height: 260px;
            width: 215px;
            background-color: rgba($color: #191d1f, $alpha: 0.7);
            &_title {
                font-family: 'SFUITextRegular';
                font-size: 14px;
                color: white;
                text-align: left;
                padding: 30px 20px 0 20px;
            }
            &_sert {
                padding: 25px 0 0 35px;
            }
            &_text {
                font-family: 'SFUITextBold';
                font-size: 12px;
                color: white;
                text-align: center;
                padding-top: 17px;
            }
        }
    }
    &_slide-arrow-right {
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 110px;
            background-color: #191d1f;
            opacity: 0.8;
            cursor: pointer;
        }
    }
}
#hero-sliders {
    position: absolute;
    height: 600px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.hero-slide1 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../../../images/slide.png) center center no-repeat;
    background-size: cover;
}
.btn {
    height: 42px;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    &_title {
        font-family: 'SFUITextSemibold';
        font-size: 14px;
        color: white;
    }
    &_orange {
        background-color: #fc5830;
        margin-right: 12px;
    }
    &_white-transparent {
        border: 2px solid white;
        background: none;
    }
    &_green {
        height: 40px;
        width: 145px;
        background-color: #6dd155;
        margin: 35px 0 0 30px;
    }
}
.img-sert {
    padding: 35px 0 0 20px;
}