.hero {
    position: relative;
    display: flex;
    height: 600px;
    widows: 100%;
}
#hero-sliders {
    position: absolute;
    height: 600px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.hero-slide1 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../../../images/slide.png) center center no-repeat;
    background-size: cover;
}
.hero-content {
    display: flex;
    justify-content: space-between;
}
.hero-left {
    height: 260px;
    width: 570px;
    background-color: rgba($color: #191d1f, $alpha: 0.7);
    border-left: 4px solid #6dd155;
    z-index: 0;
    &__title {
        font-family: 'SFUITextBold';
        font-size: 44px;
        color: white;
        text-transform: uppercase;
        padding: 25px 25px 0 25px;
    }
    &__text {
        font-family: 'SFUITextRegular';
        font-size: 14px;
        color: white;
        line-height: 27px;
        padding: 25px 25px 0 25px;
    }
    &__btns {
        width: 100%;
        height: 42px;
        margin: 25px 0 0 25px;
    }
}
.hero-right {
    height: 260px;
    width: 215px;
    background-color: rgba($color: #191d1f, $alpha: 0.7);
    &__title {
        font-family: 'SFUITextRegular';
        font-size: 14px;
        color: white;
        text-align: left;
        padding: 30px 20px 0 20px;
    }
    &__img_small {
        padding: 35px 0 0 20px;
    }
    &__img_big {
        padding: 25px 0 0 35px;
    }
    &__text {
        font-family: 'SFUITextBold';
        font-size: 12px;
        color: white;
        text-align: center;
        padding-top: 17px;
    }
}