.logo {
    display: flex;
    &__icon {
        height: 60px;
        width: 50px;
        margin: 5px 15px 0 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 190px;
    }
    &__name {
        font-family: 'SFUITextBold';
        font-size: 24px;
        color: #6dd155;
        text-transform: uppercase;
    }
    &__text {
        font-family: 'SFUITextMedium';
        font-size: 12px;
        color: #263238;
        text-transform: uppercase;
    }
}
.logo_footer_title_text {
    color: white;
}
.logo_footer_title_name {
    font-family: 'SFUITextHeavy';
    font-size: 20px;
    color: #6dd155;
}
.logo_footer_title {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}