section.hero-about
    .a-hero-content
        .a-hero-content__title About US
        button.btn.btn__about
            img(src="images/about_Us/btn-left-arrow.svg", alt="arrow").btn__img.btn__img-about
            .btn__title Return to Home page