@font-face {
    font-family: "SFUITextMedium"; 
    src: url("../../fonts/SF-UI-Text-Medium.eot"); 
    src: url("../../fonts/SF-UI-Text-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/SF-UI-Text-Medium.woff") format("woff"), 
    url("../../fonts/SF-UI-Text-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
   }
@font-face {
    font-family: "SFUITextBold"; 
    src: url("../../fonts/SF-UI-Text-Bold.eot"); 
    src: url("../../fonts/SF-UI-Text-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/SF-UI-Text-Bold.woff") format("woff"), 
    url("../../fonts/SF-UI-Text-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
   }