section.customers
    .hero_slide-arrow-left
        .hero_slide-arrow-left_content
            img(src="images/left_arrow.svg", alt="left-arrow").hero_slide-arrow-left_content_img
            
    .hero_slide-arrow-right
        .hero_slide-arrow-right_content
            img(src="images/right_arrow.svg", alt="right-arrow").hero_slide-arrow-right_content_img
