section.customers
    .slide-arrow-left
        .slide-arrow-left_btn.slide-arrow-right_btn-grey
            img(src="images/left-arrow-black.svg", alt="left-arrow").slide-arrow-left_btn_img
    .customers_slide-content
        .customers_slide-content_title our customers
        .customers_slide-content_line
        .customers_slider
            .customers_slider_item
                img(src="images/slide-icon1.png", alt="alt").customers_slider_item_icon
                img(src="images/slide-icon2.png", alt="alt").customers_slider_item_icon
                img(src="images/slide-icon3.png", alt="alt").customers_slider_item_icon
                img(src="images/slide-icon4.png", alt="alt").customers_slider_item_icon
            .customers_slider_item
        .nav_scroll
            a(href="#").nav_scroll_item.nav_scroll_item_active
            a(href="#").nav_scroll_item
    .slide-arrow-right
        .slide-arrow-right_btn.slide-arrow-right_btn-grey
            img(src="images/black-arrow.png", alt="right-arrow").slide-arrow-right_btn_img
