footer.footer 
    .footer-top
        .footer-content.container
            .footer-column
                .logo
                    img(src="images/log-icon.svg", alt="Home").logo__icon
                    .logo__content 
                        .logo__name JOHN MURRAY & SONS
                        .logo__text building contractors ltd.
                .footer-column__text VAT No. IE 6340197W Company No. 320197 Pharmaceutical / GMP Environments expectations.
                .footer-column__imgs
                    img(src="images/sert1.png", alt="alt").footer-column__img
                    img(src="images/sert2.png", alt="alt").footer-column__img
                    img(src="images/sert3.png", alt="alt").footer-column__img
            .footer_up_content_nav
                ul.nav_list.nav_list-footer
                    li.nav_list_item.nav_list-footer_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Home
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link About us
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Services
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Sectors
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Projects
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Safety
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link News
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Contacts
            .footer_up_content_contacts
                .footer_up_content_contacts_address
                    .footer_up_content_contacts_address_text 
                        |John Murray & Sons Building Contractors Ltd., 
                        span Unit 26, Waterford Business Park, Cork Road Waterford
                .footer_up_content_contacts_phone
                    .footer_up_content_contacts_phone_text call us on
                    .footer_up_content_contacts_phone_number +353 51 591761
    .footer_down
        .footer_down_content.container
            .footer_down_content_left
                .footer_down_content_left_text © 2018 John Murray & Sons. All rights reserved.
            .footer_down_content_right
                .footer_down_content_right_content
                    img(src="images/footer-img.svg", alt="alt").footer_down_content_right_content_img
                    .footer_down_content_right_content_text Website Design and Development 