footer.footer 
    .footer_up
        .footer_up_content.container
            .footer_up_content_logo
                .logo.logo_footer
                    img(src="images/log-icon.svg", alt="Home").logo_icon
                    .logo_title.logo_footer_title
                        .logo_title_name.logo_footer_title_name JOHN MURRAY & SONS
                        .logo_title_text.logo_footer_title_text building contractors ltd.
                .footer_up_content_logo_text VAT No. IE 6340197W Company No. 320197 Pharmaceutical / GMP Environments expectations.
                .footer_up_content_logo_sert 
                    img(src="images/sert1.png", alt="alt").sert_icon
                    img(src="images/sert2.png", alt="alt").sert_icon
                    img(src="images/sert3.png", alt="alt").sert_icon
            .footer_up_content_nav
                ul.nav_list.nav_list-footer
                    li.nav_list_item.nav_list-footer_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Home
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link About us
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Services
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Sectors
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Projects
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Safety
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link News
                    li.nav_list_item 
                        a(href="#").nav_list_item_link.nav_list-footer_item_link Contacts
            .footer_up_content_contacts
                .footer_up_content_contacts_address
                    .footer_up_content_contacts_address_text 
                        |John Murray & Sons Building Contractors Ltd., 
                        span Unit 26, Waterford Business Park, Cork Road Waterford
                .footer_up_content_contacts_phone
                    .footer_up_content_contacts_phone_text call us on
                    .footer_up_content_contacts_phone_number +353 51 591761
    .footer_down
        .footer_down_content.container
            .footer_down_content_left
                .footer_down_content_left_text © 2018 John Murray & Sons. All rights reserved.
            .footer_down_content_right
                .footer_down_content_right_content
                    img(src="images/footer-img.svg", alt="alt").footer_down_content_right_content_img
                    .footer_down_content_right_content_text Website Design and Development 