header.header
    .header_contacts
        .header_contacts_content.container
            img(src="images/location.svg", alt="Mark").header_contacts_content_img
            .header_contacts_content_text Unit 26, Waterford Business Park, Cork Road, Waterford.
            a(href="#").header_contacts_content_link Contact Details
    .header_content.container
        .header_content_logo
            img(src="images/log-icon.svg", alt="Home").header_content_logo_img
            .header_content_logo_title 
                .header_content_logo_title_name
                    |JOHN MURRAY
                    br
                    |& SONS
                .header_content_logo_title_text building contractors ltd.
        .header_content_right
            .header_content_right_phone
                img(src="images/phone.svg", alt="phone").header_content_right_phone_img
                .header_content_right_phone_text call us on   +353 51 591761
            .header_content_right_nav
                ul.nav_list
                    li.nav_list_item 
                        a(href="#").nav_list_item_link Home
                    li.nav_list_item 
                        a(href="#").nav_list_item_link About us
                    li.nav_list_item 
                        a(href="#").nav_list_item_link Services
                    li.nav_list_item 
                        a(href="#").nav_list_item_link Sectors
                    li.nav_list_item 
                        a(href="#").nav_list_item_link Projects
                    li.nav_list_item 
                        a(href="#").nav_list_item_link Safety
                    li.nav_list_item 
                        a(href="#").nav_list_item_link News
                    li.nav_list_item 
                        a(href="#").nav_list_item_link Contacts
                    



