section.hero
    ul#hero-sliders
        li.hero-slide1.show
        li.hero-slide
        li.hero-slide
        li.hero-slide
        li.hero-slide
    .hero_slide-arrow-left
        .hero_slide-arrow-left_content
            img(src="images/left_arrow.svg", alt="left-arrow").hero_slide-arrow-left_content_img
    .hero_slide-content.container
        .hero_slide-content_left
            .hero_slide-content_left_title Welcome to JMSL
            .hero_slide-content_left_text John Murray & Sons Building Contractors Ltd. is an established  Waterford based construction company with over 50 years experience in all areas of the building industry.
            .hero_slide-content_left_buttons
                button.btn.btn_orange
                    .btn_title View our services
                button.btn.btn_white-transparent
                    .btn_title Get in touch with us
        .hero_slide-content_right
            .hero_slide-content_right_title Industry Standards
            .hero_slide-content_right_img-group
                img(src="images/sert1.png", alt="certificate").img-sert
                img(src="images/sert2.png", alt="certificate").img-sert
            img(src="images/sert3.png", alt="").hero_slide-content_right_sert
            .hero_slide-content_right_text 2018
    .hero_slide-arrow-right
        .hero_slide-arrow-right_content
            img(src="images/right_arrow.svg", alt="right-arrow").hero_slide-arrow-right_content_img
