section.sectors
    .sectors-content.container
        .sectors-info
            .sectors-info__title featured sectors
            .sectors-info__line
            .sectors-info__text John Murray & Sons Ltd. has an excellent track record of project managing and delivering high quality new build, fit out and refurbishment projects in the following sectors:
        .sectors-segment
            .sectors-commercial
                a(href="#").sectors-commercial__title
                    .sectors-commercial__text Commercial
                    img(src="images/layer1.svg", alt="alt").sectors-commercial__icon
            .sectors-commercial
                a(href="#").sectors-commercial__title
                    .sectors-commercial__text Manufacturing
                    img(src="images/layer1.svg", alt="alt").sectors-commercial__icon
            .sectors-commercial
                a(href="#").sectors-commercial__title
                    .sectors-commercial__text Pharmaceutical & GMP Environments
                    img(src="images/layer1.svg", alt="alt").sectors-commercial__icon
        .sectors-education 
            .sectors-schools
               a(href="#").sectors-schools__title
                    .sectors-schools__text Educational & Schools
                    img(src="images/layer1.svg", alt="alt").sectors-schools__icon
            .sectors-security
                .sectors-security__title Security & Government Facilities
                .sectors-security__line
                .sectors-security__text At John Murray & Sons Ltd. (JMSL), our emphasis is on quality, and we share one objective...
                button.btn.btn__green_transparent
                    .btn__title View details