section.sectors
    .bg-color
    .sectors_content.container
        .sectors_content_info
            .sectors_content_info_title featured sectors
            .sectors_content_info_line
            .sectors_content_info_text John Murray & Sons Ltd. has an excellent track record of project managing and delivering high quality new build, fit out and refurbishment projects in the following sectors:
        .sectors_content_segment
            .sectors_content_segment_commercial
                a(href="#").sectors_content_segment_commercial_title
                    .sectors_content_segment_commercial_title_text Commercial
                    img(src="images/layer1.svg", alt="alt").sectors_content_segment_commercial_title_icon
            .sectors_content_segment_commercial
                a(href="#").sectors_content_segment_commercial_title
                    .sectors_content_segment_commercial_title_text Manufacturing
                    img(src="images/layer1.svg", alt="alt").sectors_content_segment_commercial_title_icon
            .sectors_content_segment_commercial
                a(href="#").sectors_content_segment_commercial_title
                    .sectors_content_segment_commercial_title_text Pharmaceutical & GMP Environments
                    img(src="images/layer1.svg", alt="alt").sectors_content_segment_commercial_title_icon
        .sectors_content_education 
            .sectors_content_education_schools
               a(href="#").sectors_content_education_schools_title
                    .sectors_content_education_schools_title_text Educational & Schools
                    img(src="images/layer1.svg", alt="alt").sectors_content_education_schools_title_icon
            .sectors_content_education_security
                .sectors_content_education_security_title Security & Government Facilities
                .sectors_content_education_security_line
                .sectors_content_education_security_text At John Murray & Sons Ltd. (JMSL), our emphasis is on quality, and we share one objective...
                button.btn.btn_green-transparent
                    .btn_title View details