section.updates
    .updates_up
        .updates_up_head.container
            .updates_up_head_title news and updates
            button.btn.btn_white
                .btn_white_title More news
                img(src="images/btns-arrow-right.svg", alt="arrow").btn_white_img
        .updates_up_news.container
            .updates_up_news_item
                img(src="images/upd-img1.png", alt="office").updates_up_news_item_img
                .updates_up_news_item_content
                    .updates_up_news_item_content_date
                        .updates_up_news_item_content_date_text 17 SAT 2018
                    .updates_up_news_item_content_title Founded in 1960 by John Murray, the company is one of the...
                    .updates_up_news_item_content_text At John Murray & Sons Ltd. (JMSL), our emphasis is on quality, and we share one objective; to meet and exceed our customers’ expectations.
            .updates_up_news_item
                img(src="images/upd-img2.png", alt="office").updates_up_news_item_img
                .updates_up_news_item_content
                    .updates_up_news_item_content_date
                        .updates_up_news_item_content_date_text 17 SAT 2018
                    .updates_up_news_item_content_title Founded in 1960 by John Murray, the company is one of the...
                    .updates_up_news_item_content_text At John Murray & Sons Ltd. (JMSL), our emphasis is on quality, and we share one objective; to meet and exceed our customers’ expectations.
    .updates_projects
        .updates_projects_slider.container
            ul.pro-slide
                li.pro-slide_item
                    img(src="images/slide-proj-bg.png", alt="IMG").pro-slide_item_img
            .slide_content        
                .slide-nav
                    .slide-nav_btns
                        .slide-nav_btns_title Latest projects
                        #slide-btns
                            #prev-btn
                                img(src="images/slider-proj-left.png", alt="arrow")#prev-btn_img
                            #next-btn
                                img(src="images/slider-proj-right.png", alt="arrow")#next-btn_img
                    button.btn.btn_proj
                        .btn_title.btn_proj_title All projects
                        img(src="images/proj-btn-arrow.svg", alt="arrow").btn_proj_img
            .updates_projects_slider_date 18 SAT 2018
            .updates_projects_slider_title Kitchen class room
            .updates_projects_slider_text At John Murray & Sons Ltd. (JMSL), our emphasis...
            button.btn.btn_proj-deta
                .btn_title View details

