section.customers
    .slide-navi
        .slide-navi__btn.slide-navi__btn-grey
            img(src="images/left-arrow-black.svg", alt="left-arrow").slide-navi__img
    .customers-content
        .customers-content__title our customers
        .customers-content__line
        .customers-slider
            .customers-slider__item
                img(src="images/slide-icon1.png", alt="alt").customers-slider__icon
                img(src="images/slide-icon2.png", alt="alt").customers-slider__icon
                img(src="images/slide-icon3.png", alt="alt").customers-slider__icon
                img(src="images/slide-icon4.png", alt="alt").customers-slider__icon
            .customers-slider__item
        .nav-scroll
            a(href="#").nav-scroll__item.nav-scroll__item-active
            a(href="#").nav-scroll__item
    .slide-navi
        .slide-navi__btn.slide-navi__btn-grey
            img(src="images/black-arrow.png", alt="right-arrow").slide-navi__img
