footer.footer 
    .footer-top
        .footer-content.container
            .footer-column
                .logo
                    img(src="images/log-icon.svg", alt="Home").logo__icon
                    .logo__content.logo__content_width 
                        .logo__name.logo__name_font_size JOHN MURRAY & SONS
                        .logo__text.logo__text_color_white building contractors ltd.
                .footer-column__text VAT No. IE 6340197W Company No. 320197 Pharmaceutical / GMP Environments expectations.
                .footer-column__imgs
                    img(src="images/sert1.png", alt="alt").footer-column__img
                    img(src="images/sert2.png", alt="alt").footer-column__img
                    img(src="images/sert3.png", alt="alt").footer-column__img
            .footer-nav
                .menu
                    ul.menu__list.menu__list-column
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green Home
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green About us
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green Services
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green Sectors
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green Projects
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green Safety
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green News
                        li.menu__item 
                            a(href="#").menu__link.menu__link-color-green Contacts
            .footer-contacts
                .footer-address
                    .footer-address__text 
                        |John Murray & Sons Building Contractors Ltd., 
                        span Unit 26, Waterford Business Park, Cork Road Waterford
                .footer-phone
                    .footer-phone__text call us on
                    .footer-phone__number +353 51 591761
    .footer-down
        .footer-bottom-content.container
            .footer-left © 2018 John Murray & Sons. All rights reserved.
            .footer-right
                    img(src="images/footer-img.svg", alt="alt").footer-right__img
                    .footer-right__text Website Design and Development 