header.header
    .header-address
        .header-address__content.container
            img(src="images/location.svg", alt="Mark").header-address__img
            .header-address__text Unit 26, Waterford Business Park, Cork Road, Waterford.
            a(href="#").header-address__link Contact Details
    .header-content.container
        .logo
            img(src="images/log-icon.svg", alt="Home").logo__icon
            .logo__content 
                .logo__name JOHN MURRAY & SONS
                .logo__text building contractors ltd.
        .header-right
            .phone-number
                img(src="images/phone.svg", alt="phone").phone-number__img
                .phone-number__text call us on   +353 51 591761
            .menu
                ul.menu__list
                    li.menu__item 
                        a(href="#").menu__link Home
                    li.menu__item 
                        a(href="about.html").menu__link About us
                    li.menu__item 
                        a(href="#").menu__link.js-menu__link Services
                    li.menu__item 
                        a(href="#").menu__link.js-menu__link Sectors
                    li.menu__item 
                        a(href="#").menu__link Projects
                    li.menu__item 
                        a(href="#").menu__link Safety
                    li.menu__item 
                        a(href="#").menu__link News
                    li.menu__item 
                        a(href="#").menu__link Contacts
                    



