section.hero
    ul#hero-sliders
        li.hero-slide1.show
        li.hero-slide
        li.hero-slide
        li.hero-slide
        li.hero-slide
    .slide-navi
        .slide-navi__btn
            img(src="images/left_arrow.svg", alt="left-arrow").slide-navi__img
    .hero-content.container
        .hero-left
            .hero-left__title Welcome to JMSL
            .hero-left__text John Murray & Sons Building Contractors Ltd. is an established  Waterford based construction company with over 50 years experience in all areas of the building industry.
            .hero-left__btns
                button.btn.btn__color_orange
                    .btn__title View our services
                button.btn.btn__white-transparent
                    .btn__title Get in touch with us
        .hero-right
            .hero-right__title Industry Standards
            .hero-right__imgs
                img(src="images/sert1.png", alt="certificate").hero-right__img_small
                img(src="images/sert2.png", alt="certificate").hero-right__img_small
            img(src="images/sert3.png", alt="").hero-right__img_big
            .hero-right__text 2018
    .slide-navi
        .slide-navi__btn
            img(src="images/right_arrow.svg", alt="right-arrow").slide-navi__img